html,body{
    //@at-root: blueviolet;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    background-image: url('../media/img/animal-crossing-wallpaper-tempBackground.webp');
}
.game-logo{
    margin-top: .8rem;
    width: 5rem;
    height: 3rem;
}
.nav-wrapper{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.welcome-message{
    text-align: center;
    height: 80vh;
}
